@import "variables";

body {
  background-color: rgba($color-primary, .23);
}

.centered-form {
  margin: 2em auto;
  width: 500px;
}

.free-trial-picture-container {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background: $color-primary;
}

.free-trial-content {
  padding-top: 9px;
  text-align: center;
  color: $color-white;
  width: 50%;
  margin-left: 25%;
}

.fill-form {
  text-align: center;
  font-size: 23px;
  margin-top: 38px;
}

.action {
  margin: 3% 15% -12%;
}

.free-trial-intro {
  margin-bottom: 2em;
  font-size: 1.1em;
}
